<h1> Editing your profile </h1>
<% if @profile.errors.any? %>
		<div class="errors_messages">
			<h2> <%= pluralize(@profile.errors.count, "error") %> prohibited
				this article from being saved: 
			</h2>
			<ul>
				<% @profile.errors.full_messages.each do |message| %>
					<li> <%= message %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>
<%= form_for @profile, url: { action: "update" } do |f| %>

	<p>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :age %><br>
		<%= f.text_field :age %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>