<h1>Edit user</h1>
<%= form_for(@user, remote: true) do |f| %>
	<% if @user.errors.any? %>
		<div class="errors_messages">
			<h2> Form is invalid </h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li> <%= message %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<br>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>
<%= link_to "Home page", user_profile_path(@user) %><br />
<%= link_to "Edit profile", edit_user_profile_path(@user) %>