<h1> Listing users </h1>
<%= link_to 'Show admin', admin_admin_path(current_admin) %>
<%= link_to 'Create user', sign_up_path(current_admin) %>
<table>
	<tr>
		<th>Email</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%=button_to 'Delete User', user, controller: "users", action: "destroy", id: user.id, confirm: "Are you sure?", method: :delete, class: 'btn btn-danger' %></td>
<!-- 			<td><%=button_to 'Update User', user, controller: "users", action: "update", id: user.id, method: :update, class: 'btn btn-default' %></td> -->
			<td><%= link_to 'Update user', edit_admin_user_path(user) %></td>
		</tr>
	<% end %>
</table>